<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <h3 class="text-center display-4">Quản Lí Sinh Viên</h3>
          <div class="form-group">
              <p>Mã Sinh Viên</p>
              <input id="maSinhVien" class="form-control">
              <p id="err_maSinhVien_ktRong" class="text-danger"></p>
              <p id="err_maSinhVien_allNumber" class="text-danger"></p>
              <p id="err_maSinhVien_maxMinLength" class="text-danger"></p>
          </div>
          <div class="form-group">
            <p>Tên Sinh Viên</p>
            <input id="tenSinhVien" class="form-control">
            <p id="err_tenSinhVien_ktRong" class="text-danger"></p>
            <p id="err_tenSinhVien_allLetters" class="text-danger"></p>
        </div>
        <div class="form-group">
            <p>Email</p>
            <input id="email" class="form-control">
            <p id="err_email_ktRong" class="text-danger"></p>
            <p id="err_email_fomat" class="text-danger"></p>
        </div>
        <div class="form-group">
            <p>Loại Sinh Viên</p>
            
            <select id="loaiSinhVien" class="form-control">
                <option>Khó Khăn</option>
                <option>Bình Thường</option>
            </select>
        </div>
        <div class="row form-group">
            <div class="form-group col-4">
                <p>Điểm Toán</p>
                <input id="diemToan" class="form-control">
                <p id="err_diemToan_ktRong" class="text-danger"></p>
                <p id="err_diemToan_allNumber" class="text-danger"></p>
                <p id="err_diemToan_maxMinValue" class="text-danger"></p>
            </div>
            <div class="form-group col-4">
                <p>Điểm Lí</p>
                <input id="diemLi" class="form-control">
                <p id="err_diemLi_ktRong" class="text-danger"></p>
                <p id="err_diemLi_allNumber" class="text-danger"></p>
                <p id="err_diemLi_maxMinValue" class="text-danger"></p>
            </div>
            <div class="form-group col-4">
                <p>Điểm Hóa</p>
                <input id="diemHoa" class="form-control">
                <p id="err_diemHoa_ktRong" class="text-danger"></p>
                <p id="err_diemHoa_allNumber" class="text-danger"></p>
                <p id="err_diemHoa_maxMinValue" class="text-danger"></p>
            </div>
        </div>
        <div class="form-group">
            <p>Điểm Rèn Luyện</p>
            <input id="diemRenLuyen" class="form-control">
            <p id="err_diemRenLuyen_ktRong" class="text-danger"></p>
            <p id="err_diemRenLuyen_allNumber" class="text-danger"></p>
            <p id="err_diemRenLuyen_maxMinValue" class="text-danger"></p>
        </div>
        
        <div class="form-group text-center">
            <button id="btnThemSinhVien" class="btn btn-success">Thêm Sinh Viên</button>
            <button id="btnCapNhapSinhVien" class="btn btn-primary">Cập Nhập Thông Tin</button>
        </div>
        <div class="tableSinhVien">
            <table class="table">
                <thead>
                    <tr>
                        <th>Mã Sinh Viên</th>
                        <th>Tên Sinh Viên</th>
                        <th>Email</th>
                        <th>Loại Sinh Viên</th>
                        <th>Điểm Trung Bình</th>
                        <th>Điểm Rèn Luyện</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tblSinhVien">

                </tbody>
            </table>
        </div>

      </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- models -->
    <script src="../models/SinhVien.js"></script>
    <script src="../models/Validation.js"></script>
    <!-- service giao tiếp với backend -->
    <script src="../services/SinhVienService.js"></script>
    <!-- controllers -->
    <!-- <script src="../controllers/index.js"></script> -->
    <!-- <script src="../controllers/callback.js"></script> -->
    <script src="../controllers/indexAjax.js"></script>
  </body>
</html>